body {
    font-family:  sans-serif;
    background-color: #f7f7f7;
    color: #333;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #4a6fa5;
    font-size: 2.2em;
    text-align: center;
}t 

h2 {
    font-size: 1.5em;
    margin-top: 30px;
    border: #3b598a solid 1px;
    background-color: #3b598a;
    color: white;
    text-align: center;
    border-radius: 5px;
}

img {
    position: absolute;
    top: 20px;
    left: 20px; 
}


h3 {
    font-size: 1.1em;
    margin-top: 20px;
}

p, ul, li, pre, code {
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #4a6fa5;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3b598a;
    text-decoration: underline;
}

pre {
    background-color: #f1f1f1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e8e8e8;
    padding: 3px 6px;
    border-radius: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #f1f1f1;
}

th {
    background-color: #4a6fa5;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #888;
}

#email-link {
    all: unset;
}