body {
    font-family: sans-serif;
    background-color: #F5F6FA; 
    color: #333333;
    max-width: 800px;
    margin: auto;
}

h1 {
    color: #4A90E2;
    font-size: 5em;
    text-align: center;
    font-family: 'Trirong';
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 10px;
}

h2 {
    font-size: 1.7em;
    margin-top: 10px;
    border: #1C3A5D solid 1px; 
    background-color: #1C3A5D; 
    color: white; 
    text-align: center;
    border-radius: 5px;
    padding: 2px;
}

.math-container, .code-container, .game-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    margin-bottom: 40px;

}

ul {
    display: inline-flex;
    border: #D1D5DB solid 2px; /* Cool gray for borders */
    border-radius: 5px;
    height: 100px;
    justify-content: center;
    text-align: center;
    margin: 5px;
    padding: 0px;
    align-items: center;
    font-weight: bold;
    background-color: #FFFFFF; /* White for block background */
    color: #333333; /* Charcoal gray for text */
}

.math-container ul {
    width: 200px;
}

.code-container ul {
    width: 170px;
}

.game-container ul {
    width: 200px;
}

a{
    color: #4A90E2;
    text-decoration: none;
    transition: color 0.3s ease;
}

ul:hover{
    background-color: lightgray;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #888888; 
}

#email-link {
    all: unset;
}
